*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.rvmrc
public/uploads
Gemfile.lock

# Ignore junk file
doc/
**/*.swp
*.swp
**/*~
*.*~
*~
db/schema.rb
public/assets/*
reports/pdfs/*
config/database.yml
/.ruby-version
.DS_Store
.project
.idea
.secret
